.card-container{
    margin: 20px;
    padding: 3px;
}

.card{
    border: 2px solid;
    min-height: 360px;
}

.card-title{
    font-size: large;
    color: #ffc107;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-price{
    color: #ee4d2d
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

