<div class="container mt-4 mb-4 bg-dark yellow add-product-form" *ngIf="!finishedUserData">

    <div class="centered yellow">
        <p class="form-title"> [ New Product Form ] </p>
    </div>

    <form #addProductForm="ngForm" (ngSubmit)="validateInput(addProductForm.value)" enctype="multipart/form-data" ngNativeValidate>

        <div class="mb-4"> 
            <label for="title" class="form-label label" >
                Seller Username* 
            </label>
            <input class="form-control" [(ngModel)]="sellerUsername" type="text" name="sellerUsername" id="sellerUsername"
            minlength="3" maxlength="32" pattern="^[a-zA-Z0-9.]{2,16}$" [disabled]="sellerUsername!==''" required>
        </div> 

        <div class="mb-4"> 
            <label for="title" class="form-label label" >
                Product Title* 
            </label>

            <input  class="form-control" [(ngModel)]="title" type="text" name="title" id="title"
            minlength="3" maxlength="32" pattern="^.{3,32}$" placeholder="Enter Product Title"  
            title="Product Title must be 3 to 32 characters long. Any characters are allowed" 
            required>
        </div>

        <div class="mb-4">
            <label for="price" class="form-label label">
                Product Price in Pesos*
            </label>
            <input class="form-control" [(ngModel)]="price" pattern="^[0-9]{1,14}.?[0-9]{1,2}?$" 
            name="price" id="price" type="number" min="1" step="any" required/>
        </div>   

        <div class="mb-4">
            <label for="stock" class="form-label label">
                Amount in Stock*
            </label>
            <input class="form-control"  [(ngModel)]="stock" pattern="^[0-9]{1,16}?" name="stock" 
            id="stock" type="number" min="1" step="1" required/>
        </div>   

        <div class="mb-4">
            <label for="categories" class="form-label label">
                Product Categories (Check all that apply) *
            </label>

            <div *ngFor="let category of categories">
                <label class="mt-1">
                    <input type="checkbox" name="categories" value={{category.value}} [(ngModel)]="category.checked"/>
                    {{category.name}}
                </label>
            </div>

        </div>

        <div class="mb-4">
            <label for="description" class="form-label label">
                Product Description* 
            </label>
            <textarea class="form-control decscription-input" [(ngModel)]="description" name="description" id="description"  cols="10" rows="15" 
            placeholder="Enter Product Description" type="text"  required> </textarea>
        </div>

             
        <div class="centered">
            <button type="submit" name="submit" class="btn" [disabled]="addProductForm.invalid"> 
                Submit
            </button>
        </div>
    </form>

</div>

<div class="container upload-form bg-dark mt-4 mb-4" *ngIf="finishedUserData && !finishedTransaction">
    <form enctype="multipart/form-data">
        
        <div>
            <label for="imgUrl" class="form-label label mt-3 upload-label yellow">
                Upload Product Image *
            </label>
            <input class="form-control" type="file" accept=".jpg,.jpeg,.png" (change)="selectImage($event)"
            name="imageFile" id="imageFile" required>    
        </div>

                
        <div class="centered mt-3 mb-3">
            <button class="btn btn-primary upload-button" type="submit" [disabled]="!hasFile" (click)="uploadImage()"> Upload </button>            
        </div>

    </form>
</div>

<div class="container" *ngIf="finishedTransaction">
    <app-transaction-complete [transactionSuccessful]="transactionSuccessful"
    [sellerUsername]="sellerUsername" [message]="message" [origin]="'shop-page'"> 
    </app-transaction-complete>
</div>