.add-product-form{
    width: 50%;
    padding: 20px;
}

.form-title{
    font-size: xx-large;
    font-weight: 700;
}

.upload-form{
    width: 50%;
    height: auto;
    border: black solid 2px;
    border-radius: 30px;
    padding: 20;
    margin: auto;
}

.upload-button{
    color: black;
    margin: 0 auto;
}

.form-label{
    font-size: x-large;
}

input[type='number']{
    width: 100%;
    font-size: initial;
}


button[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    width: 60%;
    background-color: #ffc107;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: #ee4d2d;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}