
<div class="container align-items-center mt-5 mb-5">
    <div class="empty-cart bg-dark yellow">

        <div class="img-container centered mt-3">
            <img src='../../assets/general/404.svg'/>
        </div>

        <div class="centered white mt-2 " >
            <p>
                <span> Error Page Not Found ! </span>
            </p>
        </div>
        <div class="centered mt-2 mb-4">
            <button class="btn checkout-btn" routerLink="/dashboard">
                Continue Shoppping Now
            </button>
        </div>
    </div>
</div>
