.login-container{
    width: 400px;
    height: 530px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5%;
}

.login-box{
    color: white;
    width: 100%;
}

.login-box p{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-box input{
    margin-bottom: 20px;
    width: 100%;
}

.login-box input[type="text"], input[type="password"]
{
    color: white;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 20px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 50px;
    background-color: #ffc107;
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;
}

.login-box input[type="submit"]:hover{
    background-color: #ee4d2d;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.warning{
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

h3{
    text-align: center;
}

a {
  color:darkgrey;
  text-align: left;
  font-weight:600;
  text-decoration:none; 
  cursor:pointer;  
}

a:hover{
    color: #ffc107;
    text-decoration: underline;
}

.login-icon{
    width: 20%;
    margin: 0 auto;
}